/* Config */
:root {
    --color-bright: rgb(250, 255, 254);
    --color-dull: rgb(176, 204, 204);

    --color-accent-bright: rgb(255, 228, 205);
    --color-accent-dull: rgb(255, 196, 173);

    --color-primary-bright: rgb(28, 120, 110);
    --color-primary-dull: rgb(65, 116, 109);

    --color-background-bright: rgb(3, 50, 58);
    --color-background-dull: rgb(4, 31, 43);
}

/* Fonts */
@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/NotoSans-Regular.ttf");
}

@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/NotoSans-Italic.ttf");
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/NotoSans-Light.ttf");
}

@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/NotoSans-LightItalic.ttf");
}

@font-face {
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/NotoSans-Bold.ttf");
}

@font-face {
    font-family: "Noto Sans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/NotoSans-BoldItalic.ttf");
}

/* [Rule Order]
content, display,
position, size, box (inside-out),
color, bgcolor
font-family, -size, -style
flags, cursor

2+ of same group separate with newline
*/

/* Global style */
* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;

    font-family: "Noto Sans", sans-serif;
    font-weight: normal;

    color: var(--color-bright);
}

html {
    scrollbar-color: var(--color-primary-bright) transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--color-primary-bright);
}

::-webkit-scrollbar, ::-webkit-scrollbar-track {
    background: var(--color-background-bright);
}

body {
    min-height: 100vh;
}

body, section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section, header, footer {
    width: 66.66%;
}
